%h1 Política de Privacidade

%p Esta Política de Privacidade e suas regras aplica-se apenas ao site do grupo Multi.

%p Nossa política de privacidade tem como objetivo deixar claro o compromisso do grupo Multi em garantir a proteção dos dados de nossos clientes e visitantes ao navegar em nosso site, bem como tornar claro outras questões relativas à segurança.

%p O grupo Multi respeita a sua privacidade, sendo assim, assumimos o compromisso de investir em recursos de tecnologia desenvolvendo e implementando sólidos padrões de privacidade.

%p O grupo Multi não fornece, divulga, vende, aluga ou cede informações pessoais de seus clientes em  hipótese alguma.

%h3 Nós adotamos alguns princípios claros e objetivos que tendem a descrever como lidamos com a PRIVACIDADE e informações de nossos clientes e visitantes ao acessarem nosso site:

%ol
  %li{"style" => "padding: 10px"} Utilizar das informações prestadas por nossos clientes apenas e exclusivamente para fornecer produtos e serviços relevantes ao mesmo: Toda e qualquer informação prestada por nossos clientes e visitantes são tratadas com ABSOLUTA CONFIDENCIALIDADE e exclusivamente com a finalidade de tratar e processar os pedidos de nossos clientes, enviar informações sobre produtos, serviços de newsletters, e promoções quando previamente autorizado pelo próprio cliente.
  %li{"style" => "padding: 10px"} Conceder ao usuário a oportunidade clara e objetiva de fazer escolhas significativas a fim de proteger a própria privacidade: Quando se trata de privacidade, as pessoas têm necessidade e preocupações distintas. A fim de prestar serviços da melhor maneira possível aos nossos clientes, o grupo Multi não mede esforços em ceder à oportunidade de ESCOLHA; garantindo assim a imediata exclusão de qualquer informação de propriedade do cliente quando solicitado pelo mesmo.
  %li{"style" => "padding: 10px"} Ser um guardião responsável e íntegro das informações que possuímos e coletamos: Nós declaramos e tornamos público o nosso compromisso e responsabilidade em proteger os dados que os nossos clientes nos confiam levando as questões de segurança e privacidade da informação a sério.
  %li{"style" => "padding: 10px"} Tornar a coleta de informações pessoais transparente: Esforçamos ao máximo para mostrar aos nossos clientes quais informações são usadas para personalizar os nossos serviços tendo o único objetivo de manter total transparência com relação às informações que coletamos de nossos clientes e como utilizamos e tratamos essas informações.