#resposta
.container
  .navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to (yield :title), admin_leads_path(pending: true), class: 'brand'
        /%a.brand{href:"#"}= yield :title
        .nav-collapse
          %ul.nav.pull-right
            / %li.active
            /   %a{href:"#"} Home
            / %li
            /   %a{href:"#"} Home
            %li.dropdown
              %a.dropdown-toggle{href: '#', "data-toggle" => "dropdown"} 
                Items selecionados
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Marcar como prospectado', prospect_admin_leads_path, id: 'bulk_prospect', class: ['bulk_action']
                  %a{href: '#'} Matricular          
                %li.divider
                %li
                  = link_to 'Desmarcar como prospectado', prospect_admin_leads_path, id: 'bulk_prospect', class: ['bulk_action']
                  %a{href: '#'} Matricular
                %li.divider
                %li
                  = link_to 'Exportar para Excel', admin_leads_path(params.merge(:format => :csv))