.container
  .navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href:"#"}= yield :title
        .nav-collapse
          %ul.nav.pull-right
            / %li.active
            /   %a{href:"#"} Home
            / %li
            /   %a{href:"#"} Home
            %li.dropdown
              %a.dropdown-toggle{href: '#', "data-toggle" => "dropdown"} 
                Items selecionados
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: '#'} Prospectar
                  %a{href: '#'} Matricular