.notification.success
  %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
  %p
    %strong Error notification
    = alert
    = notice
    
/ .notification.error
/   %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
/   %p
/     %strong Error notification
/     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
/ / /Notification
/ / Notification
/ .notification.success
/   %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
/   %p
/     %strong Success notification
/     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
/ / /Notification
/ / Notification
/ .notification.information
/   %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
/   %p
/     %strong Information notification
/     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
/ / /Notification
/ / Notification
/ .notification.attention
/   %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
/   %p
/     %strong Attention notification
/     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
/ / /Notification
/ / Notification
/ .notification.note
/   %a.close-notification{:href => "#", :rel => "tooltip", :title => "Hide Notification"} x
/   %p
/     %strong Note
/     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.