!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Voucher - Wizard - Você Bilíngue
    %meta{:content => "Café Azul Agência Digital - www.cafeazul.com.br", :name => "author"}/
    %meta{:content => "pt-br", "http-equiv" => "content-language"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    /= javascript_include_tag "home"
    = stylesheet_link_tag "voucher"
    = csrf_meta_tags
  %body
    #a4
      = yield
    = render 'home/google_tag_manager'
