%p 
  Olá
  = "#{@resource.email} !"

%p Clique no link a seguir para definir uma senha e utilizar o sistema.

%p= link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)